@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.a {
  grid-column: col1-start / col4-start;
  grid-row: row1-start;
}
.b {
  grid-column: col4-start;
  grid-row: row1-start / row2-end;
}
.c {
  grid-column: col1-start / col2-start;
  grid-row: row2-start;
}
.d {
  grid-column: col2-start / col4-start;
  grid-row: row2-start;
}
/* .wrapper.expandB {
  grid-template-columns: [col1-start] 15% [col2-start] 13% [col3-start] 70% [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}
.wrapper.expandA {
  grid-template-columns: [col1-start] 70% [col2-start] 13% [col3-start] 15% [col3-end];
  grid-template-rows: [row1-start] 80% [row2-start] 20% [row2-end];
}
.wrapper.expandC {
  grid-template-columns: [col1-start] 60% [col2-start] 20% [col3-start] 15% [col3-end];
  grid-template-rows: [row1-start] 20% [row2-start] 80% [row2-end];
}
.wrapper.expandD {
  grid-template-columns: [col1-start] 20% [col2-start] 60% [col3-start] 15% [col3-end];
  grid-template-rows: [row1-start] 20% [row2-start] 80% [row2-end];
} */
